.filter__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #FFF;
    padding-bottom: 29px;
}

.filter__legend {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    padding: 0 0 7px 16px;
}

.filter__wrap {
    border: none;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 14px;
}

.filter__wrap label { 
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFF;
}

.filter__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

/* -----------------------select---------------------------------- */
.filter__select-list {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.filter__select-listt::-ms-expand {
    display: none;
}

.filter__select-list {
    outline: none;
}

.filter__select-wrap {
    border-radius: 20px;
    max-width: 196px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    position: relative;
}

.filter__select-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(50%, -50%);
    pointer-events: none;
}

.filter__select-list {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    border: none;
    padding: 10px 51px 10px 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}

.filter__select-list:hover {
    color: var(--main-text-color);
}

.filter__select-list:hover ~ .filter__select-arrow,
.filter__select-list:focus ~ .filter__select-arrow {
    fill: var(--main-text-color);
}

.filter__select-list:focus {
    background: #FFF;
    color: var(--main-text-color);
}

/* -----------------------select---------------------------------- */

.filter__price {
    position: relative;
    padding: 18px 21px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.filter__scale {
    width: 176px;
    height: 2px;
    background-color: rgba(248, 247, 244, 0.5);
}

.filter__bar {
    width: 106px;
    height: 2px;
    background-color: #F8F7F4;
    margin-left: 30px;
}

.filter__price-btn {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
    border: 8px solid #FFF;
    width: 20px;
    height: 20px;
    background: #ABABAB;
    cursor: pointer;
    padding: 0;
}

.filter__price-btn--min {
    left: 25px;
}

.filter__price-btn--max {
    right: 65px;
}

.filter__btn {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFF;
    padding: 9px 29px;
    margin-bottom: 14px;
    cursor: pointer;
}

.filter__btn:hover {
    background-color: #FFF;
    color: var(--main-text-color);
}

.filter__btn:focus {
    box-shadow: inset 0px 2px 1px #696969;
    background-color: #FFF;
    padding: 11px 31px;
    border: none;
    color: var(--main-text-color);
}

.filter__box,
.filter__wrap-label {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 10px 14px;
}

.filter__sorting {
    margin-right: 19px;
    vertical-align: middle;
    position: relative;
    padding-left: 30px;
}

.filter__sorting:last-child {
    margin-right: 0;
}

.icon-radio--on,
.icon-radio--off {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.filter__label {
    position: relative;
    padding-left: 30px;
    margin-right: 20px;
}

.filter__label:last-child {
    margin-right: 0;
}

.icon-checkbox--on,
.icon-checkbox--off {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.icon-checkbox--on,
.icon-radio--on {
    display: none;
}

.filter__input:checked ~ .icon-checkbox--on,
.filter__input:checked ~ .icon-radio--on {
    display: block;
}

.filter__input:checked ~ .icon-checkbox--off,
.filter__input:checked ~ .icon-radio--off {
    display: none;
}

.filter__input:disabled ~ .icon-checkbox--off > path,
.filter__input:disabled ~ .icon-radio--off > path{
    fill-opacity: .4;
}

.filter__input:hover ~ .icon-checkbox--on > path,
.filter__input:hover ~ .icon-checkbox--off > path,
.filter__input:hover ~ .icon-radio--on > path,
.filter__input:hover ~ .icon-radio--off > path {
    fill-opacity: 1;
}

